// stylelint-disable declaration-no-important

// @each $color, $value in $theme-colors {
//   @include bg-variant(".bg-#{$color}", $value);
// }

.bg-primary {
  background-color: rgba(lighten($brand-primary, 25%),.56);
}
.bg-light {
  background-color: #f7f7f7;
}
.bg-info {
  background-color: #d9edf7;
}
.bg-success {
  background-color: #dff0d8;
}
.bg-warning {
  background-color: #fcf8e3;
}
.bg-danger {
  background-color: #f2dede;
}

@if $enable-gradients {
  @each $color, $value in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
  color: white !important;
}

.bg-transparent {
  background-color: transparent !important;
}
