<%= render 'shared/vue/input', args: args, container_class: 'form-group bmd-form-group form-check' do |form, field, value, options| %>
  
  <label class="form-check-label" for="<%= options[:id] %>">
    <% options[:class] = "#{options[:class].gsub('form-control', '')} form-check-input" %>
    <% if form.present? %>
      <% checked_value = options.delete(:checked_value) %>
      <% unchecked_value = options.delete(:unchecked_value) %>
      <%= form.check_box field, options, checked_value, unchecked_value %>
    <% else %>
      <% checked = options.delete(:checked) %>
      <%= check_box_tag field, value, checked, options %>
    <% end %>

    <% unless options[:label] == false %>
      <span class="form-check-text">
        <%= options[:label] %>
      </span>
    <% end %>

    <span class="form-check-sign">
      <span class="check"></span>
    </span>
  </label>

<% end %>
