<%= render 'shared/vue/input', args: args do |form, field, value, options| %>
  <% unless options[:label] == false %>
    <label class="control-label" for="<%= options[:id] %>">
      <%= options[:label] %>
    </label>
  <% end %>

  <% options[:data] = (options[:data] || {}).merge(toggle: 'image-preview') %>
  <%= form.file_field field, options %>

  <% images = [ form.object.send(field) ].flatten %>
  <div class="image-preview mb-3" id="<%= "#{options[:id]}_preview" %>">
    <% if images.any? %>
      <% images.each do |image| %>
        <img
          class="img-rounded img-responsive img-raised margin-auto"
          src="<%= image %>" alt="<%= image.file.filename %>">
      <% end %>
    <% else %>
      <p>Nessuna immagine caricata ancora.</p>
    <% end %>
  </div>
  
  <button type="button" class="btn btn-primary btn-round btn-sm">
    Carica immagine&hellip;
  </button>

<% end %>
