<%= render 'shared/vue/input', args: args do |form, field, value, options| %>
  <%= render 'shared/vue/label', form: form, field: field, options: options %>
  
  <% if options[:unit].present? %>
    <div class="input-group mb-2">
      <% if form.present? %>
        <%= form.number_field field, options %>
      <% else %>
        <%= number_field_tag field, value, options %>
      <% end %>
      <div class="input-group-append">
        <div class="input-group-text">
          <%= options[:unit] %>
        </div>
      </div>
    </div>
  <% else %>
    <% if form.present? %>
      <%= form.number_field field, options %>
    <% else %>
      <%= number_field_tag field, value, options %>
    <% end %>
  <% end %>

<% end %>
