<%= render 'shared/vue/input', args: args do |form, field, value, options| %>
  <%= render 'shared/vue/label', form: form, field: field, options: options %>
  
  <% options[:name] = form.present? ? "#{form.object_name}[#{field}]" : field %>
  <% options[:name] = "#{options[:name]}[]" if options[:multiple] %>
  <% options[:data] = (options[:data] || {}).merge(toggle: 'chosen-select', placeholder: ' ') %>
  
  <% select_options = options.delete(:options) %>
  <% select_options.insert(0, [ options[:include_blank], nil ]) unless options[:include_blank].nil? %>
  
  <% if options[:multiple] %>
    <input type="hidden" name="<%= options[:name] %>" value="">
  <% end %>
  <%= content_tag 'chosen-select', options.merge(value: value) do %>
    <%= options_for_select select_options, value %>
  <% end %>

<% end %>
