<%= render 'shared/vue/input', args: args do |form, field, value, options| %>
  <%= render 'shared/vue/label', form: form, field: field, options: options %>
  
  <% if form.present? %>
    <%= form.text_field field, options %>
  <% else %>
    <%= text_field_tag field, value, options %>
  <% end %>

<% end %>
