<%

  # Usage:
  #   With form object:
  #     render 'shared/inputs/checkbox', args: [ object_name, method, options = {}, checked_value = "1", unchecked_value = "0" ]
  #   Without form:
  #     render 'shared/inputs/checkbox', args: [ name, value = "1", checked = false, options = {} ]

%>

<%
  args ||= []
  form, field, value, checked_value, unchecked_value, checked = nil
  if (args[1].is_a?(Symbol) or args[1].is_a?(String)) and args[0].respond_to?(:object)
    form = args[0]
    field = args[1]
    options = (args[2] || {})
    checked_value = args[3] || '1'
    unchecked_value = args[4] || '0'
  else
    field = args[0]
    value = args[1]
    checked = args[2] || false
    options = (args[3] || {})
    options[:id] ||= "checkbox_#{field.to_s}"
  end
  options[:class] = (options[:class] || '') + 'form-check-input'
  errors = @errors[field] if @errors.present? and @errors[field].any?
%>

<div class="form-group bmd-form-group form-check <%= 'has-danger' if errors.present? %>">
  <label class="form-check-label" for="<%= form.present? ? "#{form.object_name}_#{field}" : options[:id] %>">
    <% if form.present? %>
      <%= form.check_box field, options, checked_value, unchecked_value %>
    <% else %>
      <%= check_box_tag field, value, checked, options %>
    <% end %>

    <% if options[:label].present? %>
      <span class="form-check-text">
        <%= options[:label] %>
      </span>
    <% end %>

    <%= yield %>

    <span class="form-check-sign">
      <span class="check"></span>
    </span>
  </label>

  <% if errors.present? %>
    <small class="form-text text-danger"><%= errors.join(', ') %></small>
  <% end %>
</div>
