<%

  # Usage:
  #   With form object:
  #     render 'shared/inputs/date', args: [ object_name, method, options = {} ]
  #   Without form:
  #     render 'shared/inputs/date', args: [ name, value = nil, options = {} ]

%>

<%
  args ||= []
  form, field, value = nil
  options = { class: 'form-control', autocomplete: 'off', data: {
    provide: 'datepicker',
      'date-language': 'it', 'date-format': 'dd/mm/yyyy',
      'date-today-btn': 'true', 'date-today-highlight': 'true',
      'date-autoclose': 'true'
  } }.merge(args[2] || {})
  if (args[1].is_a?(Symbol) or args[1].is_a?(String)) and args[0].respond_to?(:object)
    form = args[0]
    field = args[1]
  else
    field = args[0]
    value = args[1]
  end
  errors = @errors[field] if @errors.present? and @errors[field].any?
%>

<div class="form-group bmd-form-group <%= 'has-danger' if errors.present? %>">
  <% if form.present? %>
    
    <% unless options[:label] == false %>
      <%= form.label field, class: 'bmd-label-floating' do %>
        <%= options[:label] || t("activerecord.attributes.#{form.object_name}.#{field.to_s}") %>
      <% end %>
    <% end %>
    <%= form.text_field field, options %>

  <% else %>

    <% options[:id] ||= "input_#{field.to_s.underscore}" %>
    <% unless options[:label] == false %>
      <label for="<%= options[:id] %>" class="bmd-label-floating">
        <%= options[:label] %>
      </label>
    <% end %>
    <%= text_field_tag field, value, options %>

  <% end %>

  <% if errors.present? %>
    <small class="form-text text-danger"><%= errors.join(', ') %></small>
  <% end %>
</div>
