<%

  # Usage:
  #   With form object:
  #     render 'shared/inputs/file', args: [ object_name, method, options = {} ]
  #   Without form:
  #     render 'shared/inputs/file', args: [ name, options = {} ]

%>

<%
args ||= []
form, field, options = nil
if (args[1].is_a?(Symbol) or args[1].is_a?(String)) and args[0].respond_to?(:object)
  form = args[0]
  field = args[1]
  options = {}.merge(args[2] || {})
else
  field = args[0]
  options = {}.merge(args[1] || {})
end
errors = @errors[field] if @errors.present? and @errors[field].any?
%>

<div class="form-group <%= 'has-danger' if errors.present? %>">
  <%= form.file_field field, options %>
  <div class="flex">
    <% unless options[:label] == false %>
      <%= form.label field, class: 'bmd-label-floating' do %>
        <%= options[:label] || t("activerecord.attributes.#{form.object_name}.#{field.to_s}") %>
      <% end %>
      <input id="<%= "#{form.object_name}_#{field.to_s}_filename" %>"
             type="text" style="z-index: -1;"
             class="form-control" value="<%= form.object.send(field) %>">
    <% end %>
  </div>

  <% if errors.present? %>
    <small class="form-text text-danger"><%= errors.join(', ') %></small>
  <% end %>
</div>
