<%

  # Usage:
  #   With form object:
  #     render 'shared/inputs/image', args: [ object_name, method, options = {} ]
  #   Without form:
  #     render 'shared/inputs/image', args: [ name, options = {} ]

%>

<%
args ||= []
form, field, options = nil
if (args[1].is_a?(Symbol) or args[1].is_a?(String)) and args[0].respond_to?(:object)
  form = args[0]
  field = args[1]
  options = {}.merge(args[2] || {})
else
  field = args[0]
  options = {}.merge(args[1] || {})
end
errors = @errors[field] if @errors.present? and @errors[field].any?
%>

<div class="form-group label-floating <%= 'has-error' if errors.present? %>">
  <%= form.file_field field, options %>
  <div class="row">
    <div class="col-xs-6">
      <% unless options[:label] == false %>
        <%= form.label field, class: 'control-label' do %>
          <%= options[:label] || t("activerecord.attributes.#{form.object_name}.#{field.to_s}") %>
        <% end %>
        <input id="<%= "#{form.object_name}_#{field.to_s}_filename" %>" type="text" readonly
               class="form-control" value="<%= form.object.send(field).try(:file).try(:filename) || 'Nessuna' %>">
      <% end %>
    </div>
    <div class="col-xs-6">
      <span class="btn btn-primary btn-round btn-sm">
        Carica foto&hellip;
      </span>
    </div>
  </div>

  <% if errors.present? %>
    <span class="form-control-error"><%= errors.join(', ') %></span>
  <% end %>

  <br>
  <div class="image-preview" id="<%= "#{form.object_name}_#{field.to_s}_preview" %>">
    <img class="img-rounded img-responsive img-raised margin-auto <%= 'hidden' if form.object.send(field).file.nil? %>"
         src="<%= form.object.send(field) %>" alt="<%= field.to_s.titleize %>">
  </div>
</div>


<script type="text/javascript">
  (function($) {
    // Image preview
    var $image_input = $('input#<%= "#{form.object_name}_#{field.to_s}" %>'),
        $image_preview = $('div#<%= "#{form.object_name}_#{field.to_s}_preview" %> > img'),
        $image_filename = $('input#<%= "#{form.object_name}_#{field.to_s}_filename" %>');
    var reader = new FileReader();
    reader.onload = function (e) { $image_preview.attr('src', e.target.result); }
    $image_input.change(function() {
      file = $image_input.get(0).files[0];
      reader.readAsDataURL(file);
      $image_filename.val(file.name);
      $image_preview.removeClass('hidden');
    });
  })(jQuery);
</script>
