<%

  # Usage:
  #   With form object:
  #     render 'shared/inputs/checkbox', args: [ object_name, method, tag_value, options = {} ]
  #   Without form:
  #     render 'shared/inputs/checkbox', args: [ name, value = "1", checked = false, options = {} ]

%>

<%
  args ||= []
  form, field, value, checked_value, unchecked_value, checked = nil
  if (args[1].is_a?(Symbol) or args[1].is_a?(String)) and args[0].respond_to?(:object)
    form = args[0]
    field = args[1]
    options = (args[2] || {})
    checked_value = args[3] || '1'
    unchecked_value = args[4] || '0'
  else
    field = args[0]
    value = args[1]
    checked = args[2] || false
    options = (args[3] || {})
  end
  errors = @errors[field] if @errors.present? and @errors[field].any?
%>

<div class="radio">
  <%= content_tag :label, class: options[:class] do %>
    <% if form.present? %>
      <%= form.radio_button field, tag_value, options %>
    <% else %>
      <%= radio_button_tag field, value, checked, options %>
    <% end %>
    <% if options[:label].present? %>
      <%= options[:label] %>
    <% end %>
  <% end %>
</div>
