<%

  # Usage:
  #   With form object:
  #     render 'shared/inputs/select', args: [ object, method, choices = nil, options = {}, html_options = {} ]
  #   Without form:
  #     render 'shared/inputs/select', args: [ name, option_tags = nil, options = {} ]

%>

<%
  args ||= []
  form, field, choices = nil
  if (args[1].is_a?(Symbol) or args[1].is_a?(String)) and args[0].respond_to?(:object)
    form = args[0]
    field = args[1]
    choices = args[2]
    options = { include_blank: true }.merge(args[3] || {})
    html_options = {}.merge(args[4] || {})
    html_options[:data] = { toggle: 'chosen-select' }.merge(html_options[:data] || {})
    html_options[:data][:placeholder] = (options[:include_blank] == true ? ' ' : options[:include_blank]) || ' '
  else
    field = args[0]
    choices = args[1]
    options = { include_blank: true }.merge(args[2] || {})
    options[:data] = { toggle: 'chosen-select' }.merge(options[:data] || {})
    options[:data][:placeholder] = (options[:include_blank] == true ? ' ' : options[:include_blank]) || ' '
  end
  errors = @errors[field] if @errors.present? and @errors[field].any?
%>

<div class="form-group bmd-form-group <%= 'has-danger' if errors.present? %>">
  <% if form.present? %>

    <% if options[:label].present? %>
      <%= form.label field, class: 'bmd-label-floating' do %>
        <%= options[:label] || t("activerecord.attributes.#{form.object_name}.#{field.to_s}") %>
      <% end %>
    <% end %>
    <%= form.select field, choices, options, html_options %>

  <% else %>
    
    <% options[:id] ||= "input_#{field.to_s.underscore.gsub(/(\[|\])/, '_')}" %>
    <% if options[:label].present? %>
      <%= label_tag options[:id], class: 'bmd-label-floating' do %>
        <%= options[:label] %>
      <% end %>
    <% end %>
    <%= select_tag field, (choices.is_a?(Array) ? options_for_select(choices) : choices), options %>

  <% end %>

  <% if errors.present? %>
    <small class="form-text text-danger"><%= errors.join(', ') %></small>
  <% end %>
</div>
