<%

  # Usage:
  #   With form object:
  #     render 'shared/inputs/textarea', args: [ object_name, method, options = {} ]
  #   Without form:
  #     render 'shared/inputs/textarea', args: [ name, value = nil, options = {} ]

%>

<%
  args ||= []
  form, field, value = nil
  options = (args[2] || {})
  options[:class] = "form-control #{(options[:class] || '')}"
  options[:rows] ||= 3
  if (args[1].is_a?(Symbol) or args[1].is_a?(String)) and args[0].respond_to?(:object)
    form = args[0]
    field = args[1]
  else
    field = args[0]
    value = args[1]
  end
  errors = @errors[field] if @errors.present? and @errors[field].any?
%>

<div class="form-group">
  <% if form.present? %>
    <% unless options[:label] == false %>
      <%= form.label field, class: 'control-label' do %>
        <%= options[:label] || t("activerecord.attributes.#{form.object_name}.#{field.to_s}") %>
      <% end %>
    <% end %>
    <%= form.text_area field, options %>
    <% if errors.present? %>
      <span class="form-control-error"><%= errors.join(', ') %></span>
    <% end %>
  <% else %>
    <% options[:id] ||= "input_#{field.to_s.underscore}" %>
    <% unless options[:label] == false %>
      <label for="<%= options[:id] %>" class="control-label">
        <%= options[:label] %>
      </label>
    <% end %>
    <%= text_area_tag field, value, options %>
  <% end %>
</div>
