<% id ||= 'modal_confirmation_id' %>

<div class="modal fade" id="<%= id %>" data-modal="confirmation" tabindex="-1"
     role="dialog" aria-labelledby="<%= id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Conferma Azione</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body">
        <p>Sei sicuro di voler procedere con questa azione?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default btn-link" data-dismiss="modal">Torna Indietro</a>
        <%= link_to 'Procedi', 'placeholder_href', :class => 'btn btn-primary modal-proceed' %>
      </div>
    </div>
  </div>
</div>
