<% id ||= 'modal_information_id' %>
<% title ||= '' %>
<% body ||= '' %>

<div class="modal fade" id="<%= id %>" data-modal="information" tabindex="-1"
     role="dialog" aria-labelledby="<%= id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title placeholder-title">
          <%= title %>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body placeholder-body">
        <%= body %>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default btn-link" data-dismiss="modal">Torna indietro</a>
      </div>
    </div>
  </div>
</div>
