// Datepicker
.hb-datepicker {
  width: 240px;
  margin: 0;

  &.dropdown-menu {
    opacity: initial;
    transform: initial;
    font-size: 14px;
  }

  table.table-condensed {
    width: 100%;
    margin-top: 25px;

    > thead {
      position: relative;

      > tr:first-child {
        display: flex;
        justify-content: space-between;
        background: $brand-primary;
        color: white;
        border-radius: 5px;
        position: absolute;
        left: 10px;
        top: -10px;
        right: 10px;

        > th {
          height: 32px;
          min-width: 32px;
          padding: 5px;

          &:hover {
            background-color: transparent;
          }

          &.prev, &.next,
          &.prev-week, &.next-week {
            cursor: pointer;
          }

          &.datepicker-switch {
            flex-grow: 1;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }

    > tbody {
      > tr {
        td {
          text-align: center;

          &.day:hover {
            background-color: #eeeeee;
            cursor: pointer;
          }
          &.day.active {
            background-color: $brand-primary;
            color: white;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.2);

            &:hover {
              background-color: $brand-primary;
            }
          }
          &.day.range {
            color: inherit;
            background-color: lighten($brand-primary, 30%);
            border-radius: 0;
          }
          &.day:not(.range):not(.active).disabled:hover {
            background-color: transparent;
            color: #eeeeee;
            cursor: not-allowed;
          }
        }
      }
    }

    > tfoot {
      display: none;
    }

    span {
      display: inline-block;
      width: 72px;
      height: 37px;
      line-height: 37px;
      cursor: pointer;

      &:hover {
        background-color: #eeeeee;
      }
      &.active {
        background-color: $brand-primary;
        color: white;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);

        &:hover {
          background-color: $brand-primary;
        }
      }
      &.disabled {
        color: #eeeeee;

        &:hover {
          background-color: transparent;
          color: #eeeeee;
          cursor: not-allowed;
        }
      }
    }
  }

  div.datepicker > .datepicker-months {
    table.table-condensed {
      > thead {
        > tr:first-child {
          top: -40px;
        }
      }
    }
  }
}
