/******************************************************************************/
/*                                                                             /*
/*                                                                             /*
/*                                    ROBOTO                                   /*
/*                                                                             /*
/*                                                                             /*
/******************************************************************************/

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-LightItalic.eot');
	src: font-url('Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-LightItalic.woff') format('woff'),
		font-url('Roboto/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-Bold.eot');
	src: font-url('Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-Bold.woff') format('woff'),
		font-url('Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-Italic.eot');
	src: font-url('Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-Italic.woff') format('woff'),
		font-url('Roboto/Roboto-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-MediumItalic.eot');
	src: font-url('Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-MediumItalic.woff') format('woff'),
		font-url('Roboto/Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-Medium.eot');
	src: font-url('Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-Medium.woff') format('woff'),
		font-url('Roboto/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-ThinItalic.eot');
	src: font-url('Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-ThinItalic.woff') format('woff'),
		font-url('Roboto/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-Black.eot');
	src: font-url('Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-Black.woff') format('woff'),
		font-url('Roboto/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-BlackItalic.eot');
	src: font-url('Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-BlackItalic.woff') format('woff'),
		font-url('Roboto/Roboto-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-BoldItalic.eot');
	src: font-url('Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-BoldItalic.woff') format('woff'),
		font-url('Roboto/Roboto-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-Thin.eot');
	src: font-url('Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-Thin.woff') format('woff'),
		font-url('Roboto/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-Light.eot');
	src: font-url('Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-Light.woff') format('woff'),
		font-url('Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto/Roboto-Regular.eot');
	src: font-url('Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		font-url('Roboto/Roboto-Regular.woff') format('woff'),
		font-url('Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/******************************************************************************/
/*                                                                             /*
/*                                                                             /*
/*                                  ROBOTO SLAB                                /*
/*                                                                             /*
/*                                                                             /*
/******************************************************************************/

@font-face {
	font-family: 'Roboto Slab';
	src: font-url('RobotoSlab/RobotoSlab-Thin.eot');
	src: font-url('RobotoSlab/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
		font-url('RobotoSlab/RobotoSlab-Thin.woff') format('woff'),
		font-url('RobotoSlab/RobotoSlab-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: font-url('RobotoSlab/RobotoSlab-Bold.eot');
	src: font-url('RobotoSlab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
		font-url('RobotoSlab/RobotoSlab-Bold.woff') format('woff'),
		font-url('RobotoSlab/RobotoSlab-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: font-url('RobotoSlab/RobotoSlab-Regular.eot');
	src: font-url('RobotoSlab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
		font-url('RobotoSlab/RobotoSlab-Regular.woff') format('woff'),
		font-url('RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: font-url('RobotoSlab/RobotoSlab-Light.eot');
	src: font-url('RobotoSlab/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		font-url('RobotoSlab/RobotoSlab-Light.woff') format('woff'),
		font-url('RobotoSlab/RobotoSlab-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/******************************************************************************/
/*                                                                             /*
/*                                                                             /*
/*                                MATERIAL ICONS                               /*
/*                                                                             /*
/*                                                                             /*
/******************************************************************************/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: font-url('MaterialIcons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       font-url('MaterialIcons/MaterialIcons-Regular.woff2') format('woff2'),
       font-url('MaterialIcons/MaterialIcons-Regular.woff') format('woff'),
       font-url('MaterialIcons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
