.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}
.h-0 {
  height: 0;
  max-height: 0;
  overflow: hidden;
}
[v-cloak] {
  display: none;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.flex:not(.hidden) {
  display: flex !important;

  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.space-evenly {
    justify-content: space-evenly;
  }
}
.flex-grow {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}

.form-no-bmd-padding {
  .bmd-form-group {
    display: block;
    padding-top: 0 !important;
  }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-no-wrap {
  white-space: nowrap;
}

.link-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

[data-sortable] {
  cursor: move;
}
