select {
  border: none;
  background: inherit;
}

.d-flex {
  
  span.bmd-form-group {
    flex-grow: 1;
    padding: initial;
    position: initial;
  }
}

.select-arrow {
  color: #aaa;
  font-size: 150%;
}

chosen-select > option {
  display: none;
}

// Chosen
div.chosen-container {
  width: 100% !important;
  padding: .5rem 0 .6rem;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  margin-top: .2rem;
  margin-bottom: 2px;
  font-weight: normal;
  font-size: inherit;

  .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    min-width: 200px;
    border: 1px solid white;
    border-top: 0;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  &.chosen-container-single {
    padding: 0;
    border-bottom: 1px solid #D2D2D2;

    a.chosen-single {
      background: inherit !important;
      box-shadow: none !important;
      border: none;
      border-radius: 0;
      margin-top: 4px;
      margin-bottom: 3px;
      padding: 0;
      white-space: nowrap;

      &.chosen-default {
        color: #757575;
      }
    }

    .chosen-search {
      padding: 5px 12px;
      background: none;
      
      input[type="text"] {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #D2D2D2;
        margin: 5px 0;
        padding: 12px 20px;
        background: none;
      }
    }

    .chosen-single abbr {
      background: white;
    }
  }

  &.chosen-container-multi {
    margin-bottom: 1rem;
    padding: 0.2rem 0;

    ul.chosen-choices {
      border: none;
      border-bottom: 1px solid #D2D2D2;
      outline: none;
      box-shadow: none;
      background: none;

      li.search-field {
        margin-top: 0.2rem;
      }

      li.search-choice {
        background: $brand-primary;
        border: none;
        font-size: 13px;
        color: white;
        margin: 0 5px 3px 0;
        padding: 0.4rem 1.2rem 0.4rem 0.4rem;

        a.search-choice-close {
          background-image: none !important;
          width: 10px;
          height: auto;
          line-height: 1.7rem;
          top: 0;
          bottom: 0;

          &:before {
            content: 'X';
            display: block;
            width: 10px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            position: absolute;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  ul.chosen-results {

    ul {
      background: #FFF;
      border-radius: 4px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      //padding: 5px 0px;
      overflow: auto;
      max-width: 500px;
    }

    li.highlighted {
      background-image: none !important;
      background-color: $brand-primary !important;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    li {
      cursor: pointer;
      // word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: inherit;
      font-weight: 400;
      padding: 12px 20px;
      margin: 0 7px;
      border-radius: 2px;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      transition: all 150ms linear;
    }
  }
}

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background: none !important;
  }
}
/* @end */