<%#

  # Usage:
  #   With form object:
  #     inputs_#{type} form, method, options = {} ]
  #   Without form:
  #     inputs_#{type} name, value = nil, options = {} ]

%>

<%
  # Argomenti principali
  args ||= []
  form, field, value = nil
  if (args[1].is_a?(Symbol) or args[1].is_a?(String)) and args[0].respond_to?(:object)
    form = args[0]
    field = args[1]
    value = form.object.send(field)
  else
    form = nil
    field = args[0]
    value = args[1]
  end

  # Errori
  errors = @errors[field] if @errors.present? and @errors[field].any?
  
  # Opzioni
  options = (args[2] || {})
  options[:id] ||= "input_#{field.to_s.parameterize.gsub('-', '_')}"
  options[:class] = "#{options[:class]} form-control".squish
  options[:data] ||= {}
  if options[:tooltip].present?
    options[:data] = options[:data].merge(toggle: 'tooltip', placement: options[:tooltip][:placement] || 'top')
    options[:title] = options[:tooltip][:title]
  end
  
  # Classe del container
  container_class ||= "form-group bmd-form-group #{'has-danger' if errors.present?}"
%>


<%= tag.div class: container_class do %>
  
  <%# Elemento specifico %>
  <%= yield form, field, value, options %>

  <%# Errori %>
  <% if errors.present? %>
    <small class="form-text text-danger"><%= errors.join(', ') %></small>
  <% end %>

<% end %>
